<!doctype html>
{% load static %}
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={% block description %}"página do curso de python"{% endblock description %}>
        <meta name="author" content="Henrique Faria">
        <title>{% block title %}Python Pro{% endblock title %}</title>

        <!-- Bootstrap core CSS -->
        <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">

        <!-- Favicons -->
        <link rel="icon" href={% static "img/favicons/favicon-32x32.png" %} sizes="32x32" type="image/png">
        <link rel="icon" href={% static "img/favicons/favicon-16x16.png" %} sizes="16x16" type="image/png">
        <link rel="manifest" href={% static "img/favicons/manifest.json" %}>
        <link rel="icon" href={% static "img/favicons/favicon.ico" %}>
        
        <!-- Custom styles for this template -->
        <link href={% static "css/base.css" %} rel="stylesheet">
    </head>

    <body>
        <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="{% url 'base:home' %}" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="{% static 'img/python-pro.png' %}" width="40" height="32" class="me-2" alt="logo"/>
                <span class="fs-4">Python Pro</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href={% url 'aperitivos:indice' %}>videos</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
                <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a>
            </nav>
            </div>
        </header>

        {% block main %}{% endblock main%}

        {% include 'base/footer.html' with contato_email='ramalho@python.pro.br' only %}

        </div>

        <script src={% static "js/bootstrap.bundle.min.js" %}></script>

    </body>

    </html>
