{% extends 'base/base.html'%}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}

{% block main%}
<main>
    <div class="row-cols-1">
    <div class="col-md-12">
        <div class="p-5 mb-4 rounded-3 bg-padrao">
            <div class="container-fluid py-3">
                <h1 class="display-4 fw-bold">Curso de Python<h1> 
                <h2>com Luciano Ramalho</h2>
                <!-- Begin Mailchimp Signup Form -->
                <div>
                    <h4>Entre na lista de espera</h4>
                    <form class="row row-cols-md-auto g-3 align-items-center" action="https://inovegrafica.us14.list-manage.com/subscribe/post?u=08c418c1ad11c23aa401eba3e&amp;id=d742176fea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="col-12 col-md-5">
                        <label for="mce-EMAIL">Email</label>
                        <input type="email" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="seu email">
                        </div>
                        <div class="col-12 col-md-5">
                        <label for="mce-FNAME">Nome</label>
                        <input type="text" name="FNAME" class="form-control" id="mce-FNAME" placeholder="seu nome">
                        </div>
                        <div class="col-12 col-md-2">
                        <button type="submit" name="submit" class="btn btn-success btn-sm mt-4 pb-2">salvar</button>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
                <p class="mt-4">Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro 
                    <a href="https://www.oreilly.com/library/view/fluent-python-2nd/9781492056348/">Python Fluente</a>.
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="row mb-3">
    <div class="col-12 col-sm-6 col-md-4 text-center">
        <div class="card mb-4 rounded-3 shadow-sm">
            <img src="{% static 'img/luciano-ramalho.png'%}" alt="foto" class="card-img-top"/>
            <div class="card-body">
                <h5 class="card-title">Luciano Ramalho</h5>
                <p class="card-text">
                Luciano Ramalho é programador Python desde 1998, Fellow da Python Software Foundation; 
                é sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker Clube, 
                o primeiro hackerspace do Brasil. Tem liderado equipes de desenvolvimento de software e 
                ministrado cursos sobre Python em empresas de mídia, bancos e para o governo federal.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
        <div class="row align-items-center border border-2 rounded-3 py-3 mx-1 me-md-2">
            <h3>Matrículas abertas!</h3> 
            <div class="col-auto">
                <h5>valor R$ 1.000,00</h5>
            </div>
            <div class="col-auto">
                <script src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
                data-preference-id="61445798-98b0582c-4b52-4f51-88f4-67ac6f194a90" data-source="button">
                </script>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock main%}